.separate-section{
		margin: 500px;
		}

body{
			color: gray;
			font-family: 'Reenie Beanie', cursive;
			font-size: 15pt;
			line-height: 16pt;

}

h1{ color: black;
	font-family: 'Amatic SC', cursive;
	font-size: 60pt;
	font-weight: bold;}

footer{ letter-spacing: 20px;}

.font {font-family: 'Reenie Beanie', cursive;
	font-size: 18pt;}

.font2 {font-family: 'Amatic SC', cursive;
	font-size: 20pt;}

.font3 {font-family: 'Amatic SC', cursive;
	font-size: 30pt;}

.lead{ color: black;}


.pic{
		width: 100%;
}
.header{
	background-color: white;
	height: 300%;
	text-align: center;
	padding-top: 30px;
	letter-spacing: 4em;
	}
.logo{
	max-width: 50%;
	height:auto;
	padding-bottom:20px;

}

.navbar-brand,
.navbar-brand:hover {
	color: #fff !important;
}

	.button1 {
			
			background-color: white;
			color: black; 
			font-size: 20pt;
			font-family: 'Amatic SC', cursive;
			font-weight: bold;
			opacity: .5;
			line-height: 40pt;

			
		}
		.button1:hover {
			color: gray;
			background-color: white;
			text-decoration: none;
